<details>
<summary><%= column_ordering_title %></summary>
Ordering columns efficiently will help us save (more) space, further details can be found <a href="<%= reference_url %>">here</a>.

% queries.each do |query|
% new_table = NewTable.new(query.new_table_fields_and_types)
% unless new_table.column_order_optimized?

Query: `<%= query.formatted_query %>`

| Column name | Data Type |
| ----------- | --------- |
% new_table.optimize_column_order.each do |column|
| <%= column[0] %> | <%= column[1] %> |
% end
% end
% end
</details>
